

/*header{
	text-align: center;
	text-shadow: transparent;
	font-size: 30;
	font-synthesis: unset;
}*/
body{
	background-color:#D2691E
}
.my_custom_class{
	width:40px;
	/*background-color: #0000FF;*/
}
/*p{
	background-image: url("{% static "images/background-learner.jpg" %}");
	background-size: 100%;
	background-repeat: no-repeat;
	/*background-color: orange;
}*/
#rcorners1{
	border-radius: 25px;
	    border: 2px solid ;
	    padding: 20px; 
	    width:50%;
	    background-color: #2F4F4F;
}

#corners2{
	border-radius: 25px;
	    border: 2px solid ;
	    padding: 20px; 
	    width:50%;
	    background-color: #2F4F4F;
}
#corners_follow{
	border-radius: 25px;
	    border: 2px solid ;
	    padding: 20px; 
	    width:50%;
	    background-color: #2F4F4F;
}
#corners_first{
	border-radius: 25px;
	    border: 2px solid ;
	    padding: 20px; 
	    width:50%;
	    background-color: #2F4F4F;
}
