<div class="table-responsive" id="corners_first">
	<table class="table" >

		<thead>
			<caption><font color="#F0F8FF">FIRST SET TABLE</font></caption>
			<tr>
				<th><font color="#F0F8FF">NonTerm</font></th>
				{% for t in first_tokens %}
				<th><font color="#F0F8FF">{{t}}</font></th>
				{% endfor %}
			</tr>
		</thead>
		<tbody>
			<tr>
				{% for field in firstform %}

				{% if forloop.counter0|divisibleby:length %}
			</tr><tr >
			{% endif %}

			<td>{{ field }} </td>

			{% endfor %}

		</tr>
	</tbody>

</table>
</div>