<!-- DOCTYPE html -->
<html>
<head>
<title>quiz</title></head>
<body>


{% for string in original_grammar %}
	{% for ch in string %}
		{% if forloop.counter0 == 0 %}
			{{ch}} -> 
		{% else %}
			{{ch}}
		{% endif %}
	{% endfor %}
	</br>
{% endfor %} 


<form method="POST">{% csrf_token %}
{{form.as_p}}
<input type='submit' value='submit'>
</form>

</br>
accept_strings={{accept_strings}}</br>
reject_strngs={{reject_strings}}

<p> Please fill the answers in textbox provided. First row seniority then column seniority is considered to assign Response1, Response2, so on..</p> 

</body>
</html>
