{% extends "base.html" %}
{% block content %}
<header>Welcome!</header>

{% include "grammarform.html" %}

<form method="POST">{% csrf_token %}
{{form.as_p}}
<input type='submit' value='submit'>
</form>

</br>
accept_strings={{accept_strings}}</br>
reject_strings={{reject_strings}}

<p id="p1"> Please fill the answers in textbox provided. First row seniority then column seniority is considered to assign Response1, Response2, so on..</p> 

<!-- var b = {{ original_grammar|safe}}  find length through original_grammar.length()-->

{% endblock content %}
