
Accept Strings = {{ accept_strings }}</br>
Reject Strings = {{ reject_strings }}
<!-- <h4>Grammar</h4>
{% for fields in gform %}
	{% if forloop.counter0|divisibleby:total_line %}
		</br>{{ fields }} ->
	{% else %}
		{{ fields }} 
	{% endif %}
{% endfor %} -->

<table class="table" style="width:50%">
<caption>GRAMMAR</caption>
<tbody>
<tr>
	{% for fields in gform %}
	{% if forloop.counter0|divisibleby:total_line %}
		</tr><tr class="success"> <td><pre>{{ fields }}        -></pre></td>
	{% else %}
		<td>{{ fields }}</td> 
	{% endif %}
	{% endfor %}
</tr>
</tbody>

</table>
