
Accept Strings = {{ accept_strings }}</br>
Reject Strings = {{ reject_strings }}
<!-- <h4>Grammar</h4>
{% for fields in gform %}
	{% if forloop.counter0|divisibleby:total_line %}
		</br>{{ fields }} ->
	{% else %}
		{{ fields }} 
	{% endif %}
{% endfor %} -->
<div class="table-responsive" id="corners2">
<table class="table" >
<caption><font color="#F0F8FF">GRAMMAR</font></caption>
<tbody>
<tr>
	{% for fields in gform %}
	{% if forloop.counter0|divisibleby:total_line %}
		</tr><tr > <td><pre>{{ fields }}    -></pre></td>
	{% else %}
		<td>{{ fields }}</td> 
	{% endif %}
	{% endfor %}
</tr>
</tbody>

</table>
</div>